@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

@media screen and (orientation:landscape) {
    .raleway {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }
    
    *{
        margin: 0px;
        padding: 0px;
    }
    #fundo_cabeca{
        background-image: url('./imagens/gato_bg_g.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
    }
    #cabeca{
        width: 500px;
        height: 300px;
        margin: auto;
        margin-bottom: 5px;
        border-radius: 2px 15px 2px 15px;
        box-shadow: 1px 1px 10px rgb(15, 0, 32);
        background-color: rgba(228, 250, 215, 0.205);
    }
    #cabeca > h1{
        color: rgb(171, 184, 241);
        text-align: center;
        padding-top: 10px;
        text-shadow: 1px 1px 4px black;
        text-decoration: overline underline;
        font-size: 30px;
        font-family: "Raleway", sans-serif;
    }
    #cabeca > ul{
        margin-left: 50px;
        margin-top: 20px;
    }
    
    ul > li{
        padding: 15px;
        color: rgb(3, 3, 27);
    }
    a{
        color: rgb(3, 3, 27);
        text-decoration: none;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
    }
    #cabeca > ul > li > a:hover{
        background-color: rgba(211, 205, 205, 0.63);
        border-radius: 15px;
        transition: 0.5s;
    }
    #cabeca > img{
        position: relative;
        left: 270px;
        bottom: 160px;
    }
    
    /* Sessão div > eu */
    
    #eu{
        width: 500px;
        height: 730px;
        background-color: rgba(240, 248, 255, 0.253);
        border-radius: 2px 15px 2px 15px;
        box-shadow: 1px 1px 10px rgb(15, 0, 32);
        display: block;
        margin: auto;
        margin-top: 5px;
    }
    #foto_will{
        width: 270px;
    }
    #foto_will > img{
        border-radius: 50%;
        box-shadow: 1px 1px 10px rgb(15, 0, 32);
        margin: 15px;
    }
    #foto_will > img:hover{
        border-radius: 20%;
        transition: 0.3s;
    }
    #eu > h2{
        display: inline;
        position: relative;
        left: 60%;
        top: 20%;
        text-decoration: underline;
        font-size: 30px;
    }
    #eu > p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: justify;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        color: rgb(0, 0, 0);
        font-size: 16px;
        background-color: rgba(240, 248, 255, 0.301);
        line-height: 1.2em;
    }
    
    /* Corpo Card01 */
    #corpo{
        background-image: linear-gradient(to top, rgb(58, 17, 17), rgb(202, 88, 88), rgb(250, 180, 180));
    }
    #fundo01{
        width: 800px;
        height: 500px;
        margin: auto;
        background-image: url('imagens/fundo_02_g.jpg');
        background-position: center center;
        background-attachment: fixed;
        display: block;
    }
    .card01{
        width: 250px;
        height: 240px;
        background-color: rgba(73, 21, 21, 0.705);
        display: inline-block;
        margin: auto;
        margin-left: 10px;
        margin-top: 5px;
        box-shadow: 4px 8px 14px black;
        background-image: url('imagens/fundo_card01_g.jpg');
        background-position: bottom center;
    }
    #fund06_card06 , #fund05_card05{
        display: inline-block;
    }
}

@media screen and (min-width:993px) and (max-width:1700px) {
    .raleway {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }
    *{
        margin: 0px;
        padding: 0px;
    }
    #fundo_cabeca{
        background-image: url('./imagens/gato_bg_g.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
    }
    #cabeca{
        width: 500px;
        height: 300px;
        margin: auto;
        margin-bottom: 5px;
        border-radius: 2px 15px 2px 15px;
        box-shadow: 1px 1px 10px rgb(15, 0, 32);
        background-color: rgba(228, 250, 215, 0.205);
    }
    #cabeca > h1{
        color: rgb(171, 184, 241);
        text-align: center;
        padding-top: 10px;
        text-shadow: 1px 1px 4px black;
        text-decoration: overline underline;
        font-size: 30px;
        font-family: "Raleway", sans-serif;
    }
    #cabeca > ul{
        margin-left: 50px;
        margin-top: 20px;
        text-align: left;
    }
    ul > li{
        padding: 15px;
        color: rgb(3, 3, 27);
        display: block;

        
    }
    a{
        color: rgb(3, 3, 27);
        text-decoration: none;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
        transition: all 0.5s ease-in-out;
    }
    #cabeca > ul > li > a:hover{
        background-color: rgba(211, 205, 205, 0.63);
        border-radius: 15px;
        transition: 0.5s;
    }
    #cabeca > img{
        position: relative;
        left: 276px;
        bottom: 215px;
        width: 100px;
        display: block;
    }
    
    /* Corpo Sessão Sobre Mim */
    #eu{
        width: 500px;
        height: 730px;
        background-color: rgba(240, 248, 255, 0.253);
        border-radius: 2px 15px 2px 15px;
        box-shadow: 1px 1px 10px rgb(15, 0, 32);
        display: block;
        margin: auto;
        margin-top: 5px;
    }
    #foto_will{
        width: 270px;
    }
    #foto_will > img{
        border-radius: 50%;
        box-shadow: 1px 1px 10px rgb(15, 0, 32);
        margin: 15px;
    }
    #foto_will > img:hover{
        border-radius: 20%;
        transition: 0.3s;
    }
    #eu > h2{
        display: inline;
        position: relative;
        left: 60%;
        top: 20%;
        text-decoration: underline;
        font-size: 30px;
    }
    #eu > p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: justify;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        color: rgb(0, 0, 0);
        font-size: 16px;
        background-color: rgba(240, 248, 255, 0.301);
        line-height: 1.2em;
    }
    
    /* Corpo Sessão Habilidades */
    #fundo01{
        width: 800px;
        height: 500px;
        margin: auto;
        background-image: url('imagens/fundo_02_g.jpg');
        background-position: center center;
        background-attachment: fixed;
        display: block;
    }
    @keyframes ani_fund01_card01 {
        from{
            opacity: 0;
            translate: -100vw 0;
        }
        to{
            opacity: 1;
            translate: 0 0;
        }
    }
    .card01{
        animation: ani_fund01_card01 0.5ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 45%;
    }
    .card01{
        width: 250px;
        height: 240px;
        background-color: rgba(73, 21, 21, 0.705);
        display: inline-block;
        margin: auto;
        margin-left: 10px;
        margin-top: 5px;
        box-shadow: 4px 8px 14px black;
        background-image: url('imagens/fundo_card01_g.jpg');
        background-position: bottom center;
    }
    #fund01_card06 , #fund01_card05{
        display: inline-block;
    }

    /* Corpo Sessão Competências */
    #fundo02{
        width: auto;
        height: 740px;
        margin: auto;
        background-image: url('imagens/fundo_03_g.png');
        background-position: center center;
        background-attachment: fixed;
    }
    #fund02_card01{
        margin: auto;
        width: 800px;
        height: 740px;
        background-color: rgba(43, 43, 43, 0.623);
    }
    #fund02_card01 > h3{
        text-decoration: underline;
        font-size: 25px;
        text-align: center;
        color: rgb(172, 173, 173);
        padding-top: 20px;
        margin-bottom: 20px;
    }
    #fund02_card01 > p{
        font-family: "Roboto", sans-serif;
        text-align: justify;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        color: rgb(238, 220, 220);
        font-size: 16px;
        line-height: 1.5em;
    }

    /* Corpo Sessão Projeto 01 */
    #fundo03{
        width: auto;
        height: 2050px;
        background-image: url('./imagens/fundo_04_g.jpg');
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    #fund03_card01{
        padding-top: 25px;
    }
    #fund03_card01 > iframe{
        width: 1200px;
        height: 650px;
        margin: auto;
        display: block;
        box-shadow: -4px -4px 7px rgb(17, 17, 39);
    }

    /* Corpo Sessão Projeto 02 */
    #fund03_card02{
        padding-top: 25px;
    }
    #fund03_card02 > iframe{
        width: 1200px;
        height: 650px;
        margin: auto;
        display: block;
        box-shadow: -4px -4px 7px rgba(17, 17, 39, 0.658);
        background-color: rgba(240, 255, 255, 0.562);
    }

    /* Corpo Sessão Projeto 03 */
    #fund03_card03{
        padding-top: 25px;
    }
    #fund03_card03 > iframe{
        width: 1200px;
        height: 650px;
        margin: auto;
        display: block;
        box-shadow: -4px -4px 7px rgba(17, 17, 39, 0.658);
        background-color: rgba(240, 255, 255, 0.562);
    }
    
    /* Rodapé Formulário */
    #conteiner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: linear-gradient(to left, rgb(47, 112, 165), rgb(8, 8, 63));
    }
    #formulario{
        height: 374px;
        color: aliceblue;
    }
    form > input{
        width: 100px;
        height: 45px;
        text-align: center;
    }
    #rodape > a{
        width: 50px;
        height: 50px;

    }
    #rodape > a > img{
        margin-left: 70px;
    }
}