@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
} 
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  } 
*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}
#fundo_cabeca{
    background-image: url('./imagens/gato_bg_p.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}
#cabeca{
    margin: auto;
    height: 210px;
    width: auto;
}
#cabeca > h1{
    width: 300px;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    text-shadow: 1px 2px 5px gray;
    box-shadow: 2px 1px 5px rgb(80, 80, 80);
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    text-decoration: underline;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.527), rgba(0, 0, 0, 0.24));
}
#cabeca > ul{
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 250px;
    display: inline-block;
    text-align: center;
}
ul > li, a{
    padding: 5px;
    color: rgb(3, 3, 27);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
a:hover{
    background-color: rgba(211, 205, 205, 0.63);
    border-radius: 15px;
    transition: 0.5s;
}
#cabeca > img{
    display: none;
}

/* Sessão sobre mim */
#eu{
    width: 530px;
    height: 660px;
    margin: auto;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.575);
    border-radius: 2px 15px 2px 15px;
    box-shadow: 1px 1px 10px rgb(15, 0, 32);
    
}
#foto_will , img{
    width: 230px;
    border-radius: 50%;
    margin: 5px;
}
#foto_will > img:hover{
    border-radius: 20%;
    transition: 0.3s;
    box-shadow: 1px 1px 10px rgb(15, 0, 32);
}
#eu > h2{
    display: inline;
    position: relative;
    left: 60%;
    top: 20%;
    text-decoration: underline;
    font-size: 30px;
}
#eu > p{
    font-family: "Roboto", sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background-color: rgba(240, 248, 255, 0.301);
    line-height: 1.5em;
}
/* Corpo Card01 */
#corpo{
    background-image: linear-gradient(to top, rgb(58, 17, 17), rgb(202, 88, 88), rgb(250, 180, 180));
}
#fundo01{
    width: 550px;
    height: 500px;
    margin: auto;
    background-image: url('imagens/fundo_02_g.jpg');
    background-position: center center;
    background-attachment: fixed;
}
.card01{
    width: 250px;
    height: 240px;
    background-color: rgba(73, 21, 21, 0.705);
    display: inline-block;
    margin: auto;
    margin-left: 10px;
    margin-top: 5px;
    box-shadow: 4px 8px 14px black;
    background-image: url('imagens/fundo_card01_g.jpg');
    background-position: bottom center;
}
#fund06_card06 , #fund05_card05{
    display: none;
}