@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
} 
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  } 
*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}
/* Cabeça */
#fundo_cabeca{
    background-image: url('./imagens/gato_bg_p.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#cabeca{
    margin: auto;
    height: 210px;
    width: 90vw;
}
#cabeca > h1{
    width: 300px;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    text-shadow: 1px 2px 5px gray;
    box-shadow: 2px 1px 5px rgb(80, 80, 80);
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    text-decoration: underline;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.527), rgba(0, 0, 0, 0.24));
}
#cabeca > ul{
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}
li, a{
    padding: 5px;
    color: rgb(211, 203, 203);
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}
#cabeca > ul > li > a:hover{
    background-color: rgba(211, 205, 205, 0.63);
    border-radius: 15px;
    transition: 0.5s;
}
#cabeca > img{
    display: none;
}

/* Corpo Sessão Sobre Mim */
#eu{
    width: auto;
    height: 800px;
    margin: auto;
    background-color: rgba(240, 248, 255, 0.575);
    border-radius: 2px 15px 2px 15px;
    box-shadow: 1px 1px 10px rgb(15, 0, 32);
    
}
#foto_will , img{
    width: 230px;
    border-radius: 50%;
    margin: 5px;
}
#foto_will > img:hover{
    border-radius: 20%;
    transition: 0.3s;
    box-shadow: 1px 1px 10px rgb(15, 0, 32);
}
#eu > h2{
    display: inline;
    position: relative;
    left: 60%;
    top: 20%;
    text-decoration: underline;
    font-size: 30px;
}
#eu > p{
    font-family: "Roboto", sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background-color: rgba(240, 248, 255, 0.301);
    line-height: 1.5em;
}
/* Corpo Sessão Habilidades */
#corpo{
    margin: auto;
    background-image: linear-gradient(to top, rgb(58, 17, 17), rgb(202, 88, 88), rgba(250, 180, 180, 0.719));
}
#fundo01{
    width: auto;
    height: 500px;
    margin: auto;
    background-image: url('imagens/fundo_02_g.jpg');
    background-position: center center;
    background-attachment: fixed;
    grid-template-columns: 1fr 1fr;
    display: grid;
}
@keyframes animacao {
    from{
        opacity: 0;
        translate: -100vw 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}
.card01{
    animation: animacao 0.5ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 45%; /* se vai aparecer antes ou não */
}
.card01{
    width: 180px;
    height: 240px;
    background-color: rgba(73, 21, 21, 0.705);
    margin: auto;
    margin-top: 5px;
    box-shadow: 4px 8px 14px black;
    background-image: url('imagens/fundo_card01_g.jpg');
    background-position: bottom center;
}
#fund01_card06 , #fund01_card05{
    display: none;
}
/* Corpo Sessão Competências */
#fundo02{
    width: auto;
    height: 1150px;
    margin: auto;
    background-image: url('imagens/fundo_03_g.png');
    background-position: center center;
    background-attachment: fixed;
}
#fund02_card01{
    margin: auto;
    width: 350px;
    height: 1150px;
    background-color: rgba(43, 43, 43, 0.452);
}
#fund02_card01 > h3{
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
    color: rgb(172, 173, 173);
}
#fund02_card01 > p{
    font-family: "Roboto", sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 1.5em;
    font-weight: bold;
}
/* Corpo Sessão Projeto 01 */
#fundo03{
    width: auto;
    height: 1800px;
    margin: auto;
    background-image: url('./imagens/fundo_04_g.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#fund03_card01{
    padding-top: 25px;
    margin: auto;
}
#fund03_card01 > iframe{
    width: 350px;
    height: 500px;
    margin: auto;
    display: block;
    box-shadow: -4px -4px 7px rgb(17, 17, 39);
}
/* Corpo Sessão Projeto 02 */
#fund03_card02{
    padding-top: 25px;
    margin: auto;
}
#fund03_card02 > iframe{
    width: 350px;
    height: 500px;
    margin: auto;
    display: block;
    box-shadow: -4px -4px 7px rgba(17, 17, 39, 0.658);
    background-color: rgba(240, 255, 255, 0.562);
}
/* Corpo Sessão Projeto 03 */
#fund03_card03{
    padding-top: 25px;
    margin: auto;
}
#fund03_card03 > iframe{
    width: 400px;
    height: 700px;
    margin: auto;
    display: block;
    box-shadow: -4px -4px 7px rgba(17, 17, 39, 0.658);
    background-color: rgba(240, 255, 255, 0.562);
}
/* Formulário da página */
#formulario{
    width: 400px;
    height: 335px;
    margin: auto;
    background-color: rgba(58, 57, 57, 0.445);
    color: rgb(0, 0, 0);
}
#form > label{
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}
#form > input, textarea{
    width: 350px;
    border-radius: 10px;
    padding: 2px;
    font-size: 16px;
    margin-left: 15px;
}
form > input{
    width: 100px;
    height: 30px;
    margin: 5px 0px 5px 65px;
}
/* Rodape da página */
#rodape{
    width: 400px;
    margin: auto;
    background-color: rgba(48, 48, 48, 0.801);
}
h4{
    padding: 5px;
}
address{
    font-size: 14px;
    display: inline-block;
    margin-left: 15px;
} 
li{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
li > a{
    font-size: 15px;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}
li > a:hover{
    background-color: rgba(89, 218, 218, 0.534);
    border-radius: 5px;
    transition: 0.5s;
}
#rodape > a > img {
    width: 50px;
    margin-left: 25px;
    border-radius: 50%;
}
footer > p{
    background-color: rgb(0, 0, 34);
    color: antiquewhite;
    text-align: center;
}